body {
    font-family: springtime_romance;
    background-color: var(--fondo);
    background-image: url(../IMG/lunar.jpg);
    color: var(--font);
  }
  @font-face{
      font-family: springtime_romance;
      src: url(../fondo/springtime_romance/Springtime\ Romance.ttf);
  }
  .neon{
      color: white;
      margin-top: 30%;
      text-shadow:
      0 0 5px rgba(0,178,255,1),
      0 0 10px rgba(0,178,255,1),
      0 0 20px rgba(0,178,255,1),
      0 0 40px rgba(38, 104, 127,1),
      0 0 80px rgba(38, 104, 127,1),
      0 0 90px rgba(38, 104, 127,1),
      0 0 100px rgba(38, 104, 127,1),
      0 0 140px rgba(38, 104, 127,1),
      0 0 180px rgba(38, 104, 127,1);
  }

  :root{
    --fondo: black;
    --degrad: linear-gradient(90deg, black, yellow);
    --font: white;

  }
  .navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
  
  #testimonial {
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 40px;
  }
  
  #contact {
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap;
  }
  